<ion-view title="My Instagram">
    <ion-content>
        <label class="item item-input card">
            <span class="input-label">Search Tag:</span>
            <input type="text" placeholder="Type..." ng-model="newTag" ng-change="setTag(newTag)">
        </label>
        <div class="list card" ng-repeat="tag in tags">
            <div class="item item-avatar" style="background-color: #F5F5F5;">
                <img src="{{tag.user.profile_picture}}"/>
                <i class="icon ion-social-instagram"></i>
                <span>{{tag.user.full_name}}</span>
                <br>
                <span>{{tag.caption.text}}</span>
            </div>
            <div class="item item-body">
                <img src="{{tag.images.standard_resolution.url}}" class="col col-100"/>
            </div>
        </div>
    </ion-content>
</ion-view>